apiVersion: backstage.io/v1alpha1
kind: API
metadata:
  name: Cvent Attendees API
  description: Needs a more full description created.
  tags:
    - Attendees
  links:
    - title: Link
      icon: code
      url: https://example.com
spec:
  type: openapi
  lifecycle: experimental
  owner: team-c
  definition: |

    openapi: 3.0.0
    info:
      title: Cvent Event API
      description: Needs a description.
    servers:
      - url: https://api-platform-eur.cvent.com/ea
      - url: https://api-platform.cvent.com/ea
    paths:
      /events:
        get:
          security:
            - OAuth2.clientCredentials:
                - event/events:read
            - OAuth2.authorizationCode:
                - event/events:read
          summary: List Events
          description: |
            Gets a paginated list of events.
          operationId: getEvents
          parameters:
            - $ref: '#/components/parameters/after'
            - $ref: '#/components/parameters/before'
            - $ref: '#/components/parameters/limit'
            - $ref: '#/components/parameters/token'
            - $ref: '#/components/parameters/eventSort'
            - name: filter
              in: query
              required: false
              description: >
                A filter query string narrows search results and supports the
                combination of logical and comparison operators.

                The filter adheres to the pattern filter='field' comparisonType
                'value'.

                These are the comparison types that can be used in filter
                expressions:
                  * equal: eq
                  * not equal: ne
                  * greater than: gt
                  * greater or equal: ge
                  * less than: lt
                  * less than or equal: le
                  * contains a value: contains

                The following fields are filterable:
                  * id (eq|ne)
                  * start (eq|ne|lt|le|gt|ge)
                  * end (eq|ne|lt|le|gt|ge)
                  * status (eq|ne)
                  * eventStatus (eq|ne) **Note:** Events with a status of `Deleted` are available
                    for approximately 24 hours after deletion. After this, they are
                    removed and no longer appear in search results.
                  * format (eq|ne)
                  * title (eq|ne|contains) **Note:** Contains filters must be between 3 and 15 characters.
                  * code (eq|ne)
                  * description (eq|ne)
                  * launchAfter (eq|ne|lt|le|gt|ge)
                  * created (eq|ne|lt|le|gt|ge)
                  * lastModified (eq|ne|lt|le|gt|ge)
                  * closeAfter (eq|ne|lt|le|gt|ge)
                  * archiveAfter (eq|ne|lt|le|gt|ge)
                  * capacity (eq|ne|lt|le|gt|ge)
                  * stakeholder.firstName (eq|ne)
                  * stakeholder.lastName (eq|ne)
                  * stakeholder.email (eq|ne)
                  * stakeholder.company (eq|ne)
                  * stakeholder.title (eq|ne)
                  * stakeholder.workPhone (eq|ne)
                  * note (eq|ne)
                  * virtual (eq|ne)
                  * planner.firstName (eq|ne)
                  * planner.lastName (eq|ne)
                  * planner.email (eq|ne)
                  * venue.address.city (eq|ne)
                  * venue.address.region (eq|ne)
                  * venue.address.regionCode (eq|ne)
                  * venue.address.country (eq|ne)
                  * venue.address.countryCode (eq|ne)
                  * customField.{uuid of custom field} (eq|ne|lt|le|gt|ge|sw|contains)
              schema:
                type: string
                example: >-
                  status eq 'Accepted' or status eq 'Pending' and (id eq 'abc' or id
                  eq 'def')
          tags:
            - Events
          responses:
            '200':
              $ref: '#/components/responses/EventListSuccess'
            '400':
              $ref: '#/components/responses/BadRequest'
            '401':
              $ref: '#/components/responses/Unauthorized'
            '403':
              $ref: '#/components/responses/Forbidden'
            '429':
              $ref: '#/components/responses/TooManyRequests'
          deprecated: false
          externalDocs:
            description: More about OAuth2 authorization code support for administrators
            url: '#oauth2-auth-code-planner-admin'
    components:
      examples:
        EventListSuccessExample:
          summary: Successful event list response
          description: Example response showing a paginated list of events
          value:
            paging:
              previousToken: null
              nextToken: 2b3c4d5e6f7g8h9i10j11k12l
              currentToken: 1a2b3c4d5e6f7g8h9i10j11k
              limit: 100
              totalCount: 2
              _links:
                self:
                  href: '?token=1a2b3c4d5e6f7g8h9i10j11k'
                next:
                  href: '?token=2b3c4d5e6f7g8h9i10j11k12l'
            data:
              - id: '9463c74e-18c6-401a-a710-ae0f485bf059'
                title: 'Cvent Connect 2024'
                code: 'R5NP4NJYB3D'
                format: 'Hybrid'
                description: 'Cvent annual user conference featuring industry leaders and innovative solutions.'
                start: '2024-06-03T09:00:00.000Z'
                end: '2024-06-05T17:00:00.000Z'
                closeAfter: '2024-06-01T23:59:00.000Z'
                archiveAfter: '2024-09-05T12:00:00.000Z'
                launchAfter: '2024-01-15T12:00:00.000Z'
                timezone: 'America/New_York'
                venues:
                  - name: 'Capital Convention Center'
                    address:
                      address1: '123 Convention Way'
                      city: 'Washington'
                      region: 'District of Columbia'
                      regionCode: 'DC'
                      postalCode: '20001'
                      country: 'United States of America'
                      countryCode: 'US'
                phone: '555-555-5555'
                note: 'This event will need some coordination with external systems.'
                defaultLocale: 'en-US'
                languages:
                  - 'en-US'
                  - 'es-ES'
                currency: 'USD'
                registrationSecurityLevel: 'Public'
                status: 'Active'
                eventStatus: 'Upcoming'
                planningStatus: 'Confirmed'
                testMode: false
                capacity: 5000
                planners:
                  - prefix: 'Ms.'
                    firstName: 'Sarah'
                    lastName: 'Johnson'
                    company: 'Cvent Inc'
                    title: 'Senior Event Planner'
                    email: 'sjohnson@cvent.com'
                stakeholders:
                  - firstName: 'Michael'
                    lastName: 'Williams'
                    company: 'Cvent Inc'
                    title: 'VP of Events'
                    email: 'mwilliams@cvent.com'
                    workPhone: '555-555-1234'
                customFields:
                  - id: 'a1b2c3d4-e5f6-7890-abcd-ef1234567890'
                    name: 'Event Category'
                    type: 'SingleSelect'
                    value:
                      - 'Technology Conference'
                type: 'Conference'
                _links:
                  invitation:
                    href: 'https://cvent.com/events/cvent-connect-2024/invitation'
                  agenda:
                    href: 'https://cvent.com/events/cvent-connect-2024/agenda'
                  summary:
                    href: 'https://cvent.com/events/cvent-connect-2024/summary'
                  registration:
                    href: 'https://cvent.com/events/cvent-connect-2024/register'
                created: '2023-10-15T10:00:00Z'
                lastModified: '2024-01-20T14:30:00Z'
                createdBy: 'Sarah Johnson'
                lastModifiedBy: 'Sarah Johnson'
              - id: 'b574d85f-29d7-512b-b821-bf1f596cf160'
                title: 'Q1 Sales Kickoff'
                code: 'X7KM9PLQC2R'
                format: 'Virtual'
                description: 'Annual sales team kickoff meeting for Q1 planning and strategy.'
                start: '2024-01-15T13:00:00.000Z'
                end: '2024-01-15T17:00:00.000Z'
                closeAfter: '2024-01-14T23:59:00.000Z'
                archiveAfter: '2024-04-15T12:00:00.000Z'
                launchAfter: '2023-12-01T12:00:00.000Z'
                timezone: 'America/Los_Angeles'
                phone: '555-555-6789'
                note: 'Internal event - requires VPN access for remote attendees.'
                defaultLocale: 'en-US'
                languages:
                  - 'en-US'
                currency: 'USD'
                registrationSecurityLevel: 'Private'
                status: 'Completed'
                eventStatus: 'Completed'
                planningStatus: 'Completed'
                testMode: false
                capacity: 500
                planners:
                  - firstName: 'David'
                    lastName: 'Chen'
                    company: 'Cvent Inc'
                    title: 'Event Coordinator'
                    email: 'dchen@cvent.com'
                type: 'Meeting'
                _links:
                  invitation:
                    href: 'https://cvent.com/events/q1-sales-kickoff/invitation'
                  summary:
                    href: 'https://cvent.com/events/q1-sales-kickoff/summary'
                created: '2023-11-01T09:00:00Z'
                lastModified: '2024-01-16T08:00:00Z'
                createdBy: 'David Chen'
                lastModifiedBy: 'David Chen'
        EventListEmptyExample:
          summary: Empty event list response
          description: Example response when no events match the filter criteria
          value:
            paging:
              currentToken: 1a2b3c4d5e6f7g8h9i10j11k
              limit: 100
              totalCount: 0
              _links:
                self:
                  href: '?token=1a2b3c4d5e6f7g8h9i10j11k'
            data: []
        BadRequestExample:
          summary: Bad request error
          description: Example response when the request is malformed or contains invalid parameters
          value:
            code: 400
            message: Bad Request
            details: 'Invalid filter syntax. The filter must adhere to the pattern: field comparisonType value'
        BadRequestInvalidFilterExample:
          summary: Invalid filter field error
          description: Example response when an invalid filter field is specified
          value:
            code: 400
            message: Bad Request
            details: 'Unknown filter field: invalidField. Please refer to the API documentation for valid filter fields.'
        UnauthorizedExample:
          summary: Unauthorized error
          description: Example response when authentication token is missing, invalid, or expired
          value:
            code: 401
            message: Unauthorized
            details: 'The access token is invalid or has expired. Please obtain a new token.'
        ForbiddenExample:
          summary: Forbidden error
          description: Example response when the authenticated user lacks permission to access the resource
          value:
            code: 403
            message: Access Forbidden
            details: 'You do not have the required scope: event/events:read'
        TooManyRequestsExample:
          summary: Rate limit exceeded error
          description: Example response when the API rate limit has been exceeded
          value:
            code: 429
            message: Limit Exceeded
            details: 'You have exceeded the rate limit. Please retry after 60 seconds.'
            retryAfter: 60
      schemas:
        event-paginated-response:
          title: EventPaginatedResponse
          description: Represents a paginated collection of event objects.
          required:
            - data
            - paging
          type: object
          properties:
            paging:
              $ref: '#/components/schemas/paging.json'
            data:
              type: array
              items:
                $ref: '#/components/schemas/event'
              description: A collection of event objects.
        paging.json:
          title: Paging
          required:
            - _links
          type: object
          description: Represents pagination information for a collection of resources.
          properties:
            previousToken:
              type: string
              description: >-
                The pagination token for the previous page, if one exists. You can
                use this token to navigate to the previous page of data.
              example: 1a2b3c4d5e6f7g8h9i10j11k
            nextToken:
              type: string
              description: >-
                The pagination token for the next page. If this value is present in
                the response, there is another page of data you can fetch.
              example: 1a2b3c4d5e6f7g8h9i10j11k
            currentToken:
              type: string
              description: The pagination token for the current page.
              example: 1a2b3c4d5e6f7g8h9i10j11k
            limit:
              type: integer
              description: The number of records to return on the page. Not to exceed 200.
              example: 100
            totalCount:
              type: integer
              description: >-
                The total number of records available. This field may return blank,
                even if there are more records. To confirm if there are more
                records, check the `nextToken` field.
              example: 2
            _links:
              $ref: '#/components/schemas/pagination-links.json'
        pagination-links.json:
          title: PaginationLinks
          type: object
          description: Represents pagination links for navigating between pages of data.
          properties:
            next:
              $ref: '#/components/schemas/link.json'
            self:
              $ref: '#/components/schemas/link.json'
            prev:
              $ref: '#/components/schemas/link.json'
        link.json:
          title: Link
          required:
            - href
          type: object
          description: Represents a link to a related resource.
          properties:
            href:
              type: string
              description: A url provided that can be followed for linking
              example: '?token=90c5f062-76ad-4ea4-aa53-00eb698d9262'
        event:
          title: Event
          description: Represents an event.
          type: object
          required:
            - title
            - format
            - planners
            - timezone
            - languages
            - type
          properties:
            id:
              type: string
              format: uuid
              description: The identifier of the event.
              example: 9463c74e-18c6-401a-a710-ae0f485bf059
              readOnly: true
            title:
              type: string
              description: Title of the event being organized.
              maxLength: 300
              example: Cvent Connect 2020
            code:
              type: string
              description: A system-generated code for this event.
              maxLength: 18
              readOnly: true
              example: R5NP4NJYB3D
            virtual:
              type: boolean
              description: >-
                True indicates the event is virtual. DEPRECATED - Refer to the
                'format' field for the 'virtual' indicator.
              example: true
              deprecated: true
              readOnly: true
            format:
              $ref: '#/components/schemas/event-format.json'
            description:
              type: string
              description: Detailed description of the event.
              maxLength: 20000
              example: Cvent annual user conference.
            start:
              type: string
              format: date-time
              description: The ISO 8601 formatted date and time when the event starts.
              example: '2020-02-03T13:00:00.000Z'
            end:
              type: string
              format: date-time
              description: The ISO 8601 formatted date and time when the event ends.
              example: '2020-02-07T17:00:00.000Z'
            closeAfter:
              type: string
              format: date-time
              description: >-
                The event will be closed for registration after this ISO 8601
                formatted date and time.
              example: '2020-02-01T23:59:00.000Z'
              readOnly: true
            archiveAfter:
              type: string
              format: date-time
              description: >-
                The event will be archived after this ISO 8601 formatted date and
                time.
              example: '2020-05-07T12:00:00.000Z'
              readOnly: true
            launchAfter:
              type: string
              format: date-time
              description: >-
                The event will launch after this ISO 8601 formatted date and time.
                If the event has not yet launched, this field shows a date of
                1/1/1900.
              example: '2020-01-07T12:00:00.000Z'
              readOnly: true
            timezone:
              type: string
              description: >-
                List of supported
                [timezones](/docs/rest-api/reference/api-standards#time-zones).
              maxLength: 29
              example: America/New_York
            venues:
              type: array
              maxItems: 1
              items:
                $ref: '#/components/schemas/venue.json'
              description: Collection of venues.
            showVenueLocation:
              type: boolean
              description: >-
                True indicates the venue location is visible to guests for essential
                events. If used with other event types, the request returns a 400
                error.
            showPointOfContact:
              type: boolean
              description: >-
                True indicates the venue location is visible to guests for essential
                events. If used with other event types, the request returns a 400
                error.
            phone:
              type: string
              description: The phone number for the event.
              maxLength: 13
              example: 555-555-5555
              readOnly: true
            note:
              type: string
              description: Event note created by planners for internal use.
              maxLength: 300
              example: This event will need some coordination with external systems.
            defaultLocale:
              type: string
              description: The event default locale using the IETF language tag format.
              maxLength: 35
              example: en-US
              readOnly: true
            languages:
              type: array
              uniqueItems: true
              maxItems: 32
              items:
                type: string
                example: en-US
              description: >-
                List of IETF language tags enabled for the event. This field
                supports reading multiple language tags but supports writing only
                one language to an event.
            currency:
              type: string
              description: The ISO 4217 standard format currency code used of this event.
              maxLength: 3
              example: USD
              readOnly: true
            registrationSecurityLevel:
              $ref: '#/components/schemas/event-security-level.json'
            status:
              $ref: '#/components/schemas/registration-status.json'
            eventStatus:
              $ref: '#/components/schemas/event-status.json'
            planningStatus:
              type: string
              description: >-
                The planner-created planning status for this event. Used for
                internal tracking purposes.
              maxLength: 50
              example: Submitted
              readOnly: true
            testMode:
              type: boolean
              description: True indicates the event is in test mode.
              example: false
              readOnly: true
            capacity:
              type: integer
              description: >-
                The maximum amount of attendees that can attend the event. Only used
                for events with the registration feature.
              example: 50
              readOnly: true
            planners:
              type: array
              maxItems: 1
              items:
                $ref: '#/components/schemas/planner.json2'
              description: A collection of contacts representing the event planners.
            stakeholders:
              type: array
              maxItems: 1
              items:
                $ref: '#/components/schemas/stakeholder.json'
              description: A collection of contacts representing event stakeholders.
              readOnly: true
            customFields:
              type: array
              readOnly: true
              items:
                $ref: '#/components/schemas/custom-field'
              description: Collection of custom fields.
            category:
              type: object
              deprecated: true
              readOnly: true
              description: The category to which this event belongs (no longer supported).
              allOf:
                - title: Lookup
                  description: Lookup response object
                  type: object
                  properties:
                    id:
                      $ref: '#/components/schemas/uuid-property'
                    code:
                      type: string
                      description: Code / Abbreviation of the lookup item.
                      maxLength: 30
                      example: MU
                    name:
                      type: string
                      description: Name of the lookup item.
                      maxLength: 30
                      example: Meet up
            type:
              $ref: '#/components/schemas/event-type.json1'
            _links:
              $ref: '#/components/schemas/event-links.json'
            created:
              type: string
              format: date-time
              description: The ISO 8601 zoned date time when this record was created.
              readOnly: true
              example: '2017-01-02T02:00:00Z'
            lastModified:
              type: string
              format: date-time
              description: The ISO 8601 zoned date time when this record was updated.
              readOnly: true
              example: '2019-02-12T03:00:00Z'
            meetingRequestId:
              type: string
              format: uuid
              description: The identifier of the meeting request related to the event, if any.
              readOnly: true
              example: b566c24e-12a8-452d-c490-ad0e796be093
            createdBy:
              type: string
              maxLength: 100
              description: The name of the user who created the event.
              readOnly: true
              example: John Doe
            lastModifiedBy:
              type: string
              maxLength: 100
              description: The name of the user who last modified the event.
              readOnly: true
              example: Jane Doe
        event-format.json:
          title: Event Format
          enum:
            - In-person
            - Virtual
            - Hybrid
          type: string
          description: Denotes the format of an event.
          example: Virtual
        venue.json:
          title: Venue
          description: An Event Venue
          type: object
          properties:
            name:
              type: string
              description: The name of the venue.
              maxLength: 300
              example: Capital Convention Center
            address:
              $ref: '#/components/schemas/venue-address.json'
        venue-address.json:
          title: VenueAddress
          description: Address details for a venue.
          type: object
          properties:
            address1:
              type: string
              maxLength: 40
              description: The first line of an address.
              example: '123 Convention Way'
            address2:
              type: string
              maxLength: 40
              description: The second line of an address.
              example: 'Suite 100'
            address3:
              type: string
              maxLength: 40
              description: The third line of an address.
              example: 'Building A'
            city:
              type: string
              maxLength: 40
              description: The name of the city.
              example: Washington
            region:
              type: string
              description: The name of the state/province/region of the address.
              readOnly: true
              example: District of Columbia
            regionCode:
              type: string
              description: The abbreviation of the state/province/region of the address.
              minLength: 2
              maxLength: 10
              example: DC
            postalCode:
              type: string
              maxLength: 25
              description: Postal code (also known as zipcode) of the address.
              example: '20001'
            country:
              type: string
              description: Name of the country of the address.
              readOnly: true
              example: United States of America
            countryCode:
              type: string
              maxLength: 3
              minLength: 2
              description: ISO 3166 two-letter (alpha-2) country code.
              example: US
            latitude:
              type: number
              format: double
              description: The geo latitude of the address.
              minimum: -90
              maximum: 90
              example: 38.9072
            longitude:
              type: number
              format: double
              description: The geo longitude of the address.
              minimum: -180
              maximum: 180
              example: -77.0369
        event-security-level.json:
          title: EventSecurityLevel
          description: Represents the security level used for event registrations.
          enum:
            - Private
            - Public
            - Public and Private
          type: string
          readOnly: true
          example: Private
        registration-status.json:
          title: Registration Status
          enum:
            - Active
            - Cancelled
            - Closed
            - Completed
            - Deleted
            - NoRegistrationRequired
            - Pending
            - Processing
          type: string
          readOnly: true
          description: This is used to denote the registration status for an event.
          example: Pending
        event-status.json:
          title: EventStatus
          description: >-
            Event status denotes if the event is in the past, present or future.
            Also can denote if the event was cancelled or deleted. 
          readOnly: true
          type: string
          enum:
            - Upcoming
            - Ongoing
            - Completed
            - Cancelled
            - Deleted
            - Processing
            - Archived
          example: Upcoming
        planner.json2:
          title: Planner
          description: Represents the planner of an event.
          type: object
          properties:
            prefix:
              type: string
              description: An honorific prefixing a planner's name.
              maxLength: 30
              example: Dr.
            firstName:
              type: string
              description: The first name of the planner.
              maxLength: 50
              example: Henry
            lastName:
              type: string
              description: The last name of the planner.
              maxLength: 50
              example: Smith
            company:
              type: string
              description: The company/organization the planner belongs to.
              maxLength: 100
              example: Cvent Inc
            title:
              type: string
              description: The job title of the planner.
              maxLength: 50
              example: Event Planner
            email:
              type: string
              format: email
              description: >-
                The email address of the planner. Field is case-sensitive. For
                create/update operations, emails must be [already
                added](https://support.cvent.com/s/communityarticle/Adding-or-Removing-Account-Email-Addresses)
                in Cvent.
              minLength: 6
              maxLength: 80
              example: hsmith@example.com
            nickname:
              type: string
              deprecated: true
              readOnly: true
              description: The nickname of the planner.
              maxLength: 30
              example: J
            optOut:
              type: object
              deprecated: true
              readOnly: true
              allOf:
                - title: ContactOptOut
                  description: Details of an opt-out for a Contact.
                  type: object
                  properties:
                    optedOut:
                      type: boolean
                      default: false
                      description: >-
                        Used to denote if a contact has opted-out of receiving
                        system generated emails.
                      example: false
                    date:
                      type: string
                      format: date-time
                      description: >-
                        The ISO 8601 zoned date time when this contact was
                        opted-out. This value can change if the contact opts out
                        multiple times.
                      readOnly: true
                      example: '2019-02-12T03:00:00Z'
                    by:
                      $ref: '#/components/schemas/optout-by.json'
            pager:
              description: Planner's pager number.
              type: string
              deprecated: true
              readOnly: true
              maxLength: 30
              example: 555-555-5555
            _links:
              type: object
              deprecated: true
              readOnly: true
              allOf:
                - title: ContactLinks
                  type: object
                  description: Collection of social media links for the contact.
                  properties:
                    twitterUrl:
                      $ref: '#/components/schemas/link.json'
                    facebookUrl:
                      $ref: '#/components/schemas/link.json'
                    linkedInUrl:
                      $ref: '#/components/schemas/link.json'
                    profilePicture:
                      type: object
                      description: Reference to a profile picture.
                      title: Link
                      required:
                        - href
                      readOnly: true
                      properties:
                        href:
                          type: string
                          description: The url of the contact's profile picture
                          example: https://cvent.com/picture123
            deleted:
              type: boolean
              deprecated: true
              description: True indicates the contact is deleted and inactive.
              default: true
              example: false
              readOnly: true
            middleName:
              type: string
              deprecated: true
              readOnly: true
              description: The middle name of the contact.
              maxLength: 30
              example: A
            ccEmail:
              type: string
              deprecated: true
              readOnly: true
              format: email
              description: >-
                An alternate email address of the contact that will be cc'd on all
                email communications.
              minLength: 6
              maxLength: 80
              example: h.porter@example.com
            gender:
              type: string
              deprecated: true
              readOnly: true
              allOf:
                - title: Gender
                  enum:
                    - Male
                    - Female
                    - Non-binary
                    - Rather not say
                  type: string
                  description: The gender of the contact.
                  example: Male
            designation:
              type: string
              deprecated: true
              readOnly: true
              description: The designation of the contact.
              maxLength: 30
              example: Event
            type:
              description: Planner type.
              type: object
              deprecated: true
              properties:
                id:
                  type: string
                  format: uuid
                  description: The unique identifier of the contact type.
                  example: 861B51EC-AA7E-475F-B38D-4C8E35C47D63
                name:
                  type: string
                  description: A descriptive name for the contact type.
                  example: VIP Member
                  readOnly: true
            membership:
              type: object
              deprecated: true
              readOnly: true
              allOf:
                - title: ContactMembership
                  description: Contact Membership information
                  type: object
                  readOnly: true
                  properties:
                    type:
                      type: string
                      description: The type of membership the contact has signed up for.
                      maxLength: 300
                      example: Corporate Sponsor
                    plan:
                      type: string
                      description: Describes the specific plan the contact has signed up for.
                      maxLength: 300
                      example: Gold Level
                    joined:
                      type: string
                      format: date
                      description: >-
                        The ISO-8601 formatted date the contact began their
                        membership.
                      readOnly: true
                      example: '2017-02-10'
                    expiration:
                      type: string
                      format: date
                      description: >-
                        The ISO-8601 formatted date the contact's membership will
                        expire.
                      readOnly: true
                      example: '2020-02-09'
                    lastRenewal:
                      type: string
                      format: date
                      description: >-
                        The ISO-8601 formatted date the contact last renewed their
                        membership.
                      readOnly: true
                      example: '2019-02-08'
                    amountDue:
                      type: number
                      description: The amount currently due for this membership.
                      readOnly: true
                      minimum: 0
                      example: 50.5
                    listInDirectory:
                      type: boolean
                      description: >-
                        Indicates if the member details should be included in the
                        member directory.
                      example: false
            primaryAddressType:
              type: string
              deprecated: true
              readOnly: true
              allOf:
                - title: AddressType
                  enum:
                    - Home
                    - Work
                  type: string
                  description: The type of address.
                  example: Home
            homeAddress:
              type: object
              deprecated: true
              allOf:
                - title: Address
                  description: Address details
                  type: object
                  allOf:
                    - title: Base Address
                      description: Base Address Model
                      type: object
                      properties:
                        address1:
                          type: string
                          maxLength: 40
                          description: The first line of an address.
                          example: Cvent Inc.
                        address2:
                          type: string
                          maxLength: 40
                          description: The second line of an address.
                          example: 4001 West Parmer Lane
                        address3:
                          type: string
                          maxLength: 40
                          description: The third line of an address.
                          example: PO Box 123
                        city:
                          type: string
                          maxLength: 40
                          description: The name of the city.
                          example: Austin
                        countryCode:
                          type: string
                          maxLength: 3
                          minLength: 2
                          description: ISO 3166 two-letter (alpha-2) country code.
                          example: US
                        postalCode:
                          type: string
                          maxLength: 25
                          description: Postal code (also known as zipcode) of the address.
                          example: '78727'
                  properties:
                    region:
                      type: string
                      description: The name of the state/province/region of the address.
                      readOnly: true
                      example: Texas
                    regionCode:
                      type: string
                      description: >-
                        The abbreviation of the state/province/region of the
                        address.
                      minLength: 2
                      maxLength: 10
                      example: TX
                    country:
                      type: string
                      description: Name of the country of the address.
                      readOnly: true
                      example: United States of America
                    latitude:
                      type: integer
                      description: The geo latitude of the address.
                      minimum: -180
                      maximum: 180
                      example: 30
                    longitude:
                      type: integer
                      description: The geo longitude of the address.
                      minimum: -180
                      maximum: 180
                      example: -97
                - properties:
                    latitude:
                      type: integer
                      description: The geo longitude of the address.
                      minimum: -180
                      maximum: 180
                      example: 30
                      readOnly: true
                    longitude:
                      type: integer
                      description: The geo latitude of the address.
                      minimum: -180
                      maximum: 180
                      example: -97
                      readOnly: true
            homePhone:
              description: Home phone number.
              type: string
              deprecated: true
              readOnly: true
              maxLength: 30
              example: 555-555-5555
            homeFax:
              description: Home fax number.
              type: string
              deprecated: true
              readOnly: true
              maxLength: 30
              example: 555-555-5555
            workAddress:
              type: object
              deprecated: true
              allOf:
                - $ref: >-
                    #/components/schemas/planner.json2/properties/homeAddress/allOf/0
                - properties:
                    latitude:
                      type: integer
                      description: The geo longitude of the address.
                      minimum: -180
                      maximum: 180
                      example: 30
                      readOnly: true
                    longitude:
                      type: integer
                      description: The geo latitude of the address.
                      minimum: -180
                      maximum: 180
                      example: -97
                      readOnly: true
            workPhone:
              description: Work phone number.
              type: string
              deprecated: true
              readOnly: true
              maxLength: 30
              example: 555-555-5555
            workFax:
              description: Work fax number.
              type: string
              deprecated: true
              readOnly: true
              maxLength: 30
              example: 555-555-5555
            customFields:
              type: array
              deprecated: true
              items:
                $ref: '#/components/schemas/custom-field'
              description: Collection of custom fields.
              readOnly: true
            sourceId:
              description: >-
                This is an ID for the contact in an external system. NOTE: This
                value is expected to be unique for each contact within an account.
                Consider adding the external system name as part of the ID.
              type: string
              deprecated: true
              readOnly: true
              maxLength: 50
              example: system-a-00000000-0000-0000-0000-000000000000
            mobilePhone:
              description: Mobile phone number.
              type: string
              deprecated: true
              readOnly: true
              maxLength: 30
              example: 555-555-5555
            created:
              type: string
              deprecated: true
              format: date-time
              description: The ISO 8601 zoned date time when this record was created.
              example: '2023-12-31T15:00:00Z'
              readOnly: true
            createdBy:
              type: string
              deprecated: true
              description: The identifier of the user that created this record.
              readOnly: true
              example: hporter
            lastModified:
              type: string
              deprecated: true
              format: date-time
              description: The ISO 8601 zoned date time when this record was updated.
              example: '2024-01-25T16:00:00Z'
              readOnly: true
            lastModifiedBy:
              type: string
              deprecated: true
              description: The identifier of the user that last updated this record.
              readOnly: true
              example: hporter
        optout-by.json:
          title: OptOutBy
          enum:
            - Contact
            - Planner
            - System
          type: string
          description: Indicates who initiated the opt-out.
          example: Contact
        stakeholder.json:
          title: Stakeholder
          description: Represents an event stakeholder.
          type: object
          properties:
            firstName:
              type: string
              description: The first name of the stakeholder.
              maxLength: 50
              example: Henry
            lastName:
              type: string
              description: The last name of the stakeholder.
              maxLength: 50
              example: Potterfield
            company:
              type: string
              description: The company/organization the stakeholder belongs to.
              maxLength: 100
              example: Cvent Inc
            title:
              type: string
              description: The job title of the stakeholder.
              maxLength: 50
              example: Event stakeholder
            email:
              type: string
              format: email
              description: The email address of the stakeholder.
              minLength: 6
              maxLength: 80
              example: stakeholderemail@test.com
            workPhone:
              description: Work phone number.
              type: string
              maxLength: 30
              example: 555-555-5555
            homePhone:
              description: Home phone number.
              type: string
              maxLength: 30
              example: 555-555-5555
            mobilePhone:
              description: Mobile phone number.
              type: string
              maxLength: 30
              example: 555-555-5555
            workFax:
              type: string
              deprecated: true
              readOnly: true
              description: The work fax of the stakeholder (no longer supported).
              maxLength: 30
              example: 555-555-5555
            workAddress:
              type: object
              deprecated: true
              readOnly: true
              description: The work address of the stakeholder (no longer supported).
              allOf:
                - $ref: >-
                    #/components/schemas/planner.json2/properties/homeAddress/allOf/0
            nickname:
              type: string
              deprecated: true
              readOnly: true
              description: The nickname of the contact.
              maxLength: 30
              example: Harry
            optOut:
              type: object
              deprecated: true
              readOnly: true
              allOf:
                - $ref: '#/components/schemas/planner.json2/properties/optOut/allOf/0'
            pager:
              description: Pager phone number.
              type: string
              deprecated: true
              readOnly: true
              maxLength: 30
              example: 555-555-5555
            _links:
              type: object
              deprecated: true
              readOnly: true
              allOf:
                - $ref: '#/components/schemas/planner.json2/properties/_links/allOf/0'
            deleted:
              type: boolean
              deprecated: true
              description: Indicates if a given contact is active or not.
              default: true
              example: false
              readOnly: true
            middleName:
              type: string
              deprecated: true
              readOnly: true
              description: The middle name of the contact.
              maxLength: 30
              example: A
            ccEmail:
              type: string
              deprecated: true
              readOnly: true
              format: email
              description: >-
                An alternate email address of the contact that will be cc'd on all
                email communications.
              minLength: 6
              maxLength: 80
              example: h.porter@tesing.com
            gender:
              type: string
              deprecated: true
              readOnly: true
              allOf:
                - $ref: '#/components/schemas/planner.json2/properties/gender/allOf/0'
            designation:
              type: string
              deprecated: true
              readOnly: true
              description: The designation of the contact.
              maxLength: 30
              example: Event
            type:
              description: Type of the stakeholder.
              type: object
              deprecated: true
              properties:
                id:
                  type: string
                  format: uuid
                  description: The unique identifier of the contact type.
                  example: 861B51EC-AA7E-475F-B38D-4C8E35C47D63
                name:
                  type: string
                  description: A descriptive name for the contact type.
                  example: VIP Member
                  readOnly: true
            membership:
              type: object
              deprecated: true
              readOnly: true
              allOf:
                - $ref: '#/components/schemas/planner.json2/properties/membership/allOf/0'
            primaryAddressType:
              type: string
              deprecated: true
              readOnly: true
              allOf:
                - $ref: >-
                    #/components/schemas/planner.json2/properties/primaryAddressType/allOf/0
            homeAddress:
              type: object
              deprecated: true
              allOf:
                - $ref: >-
                    #/components/schemas/planner.json2/properties/homeAddress/allOf/0
                - properties:
                    latitude:
                      type: integer
                      description: The geo longitude of the address.
                      minimum: -180
                      maximum: 180
                      example: 30
                      readOnly: true
                    longitude:
                      type: integer
                      description: The geo latitude of the address.
                      minimum: -180
                      maximum: 180
                      example: -97
                      readOnly: true
            homeFax:
              description: Home fax number.
              type: string
              deprecated: true
              maxLength: 30
              example: 555-555-5555
              readOnly: true
            customFields:
              type: array
              deprecated: true
              items:
                $ref: '#/components/schemas/custom-field'
              description: Collection of custom fields.
              readOnly: true
            sourceId:
              description: >-
                This is an ID for the contact in an external system. NOTE: This
                value is expected to be unique for each contact within an account.
                Consider adding the external system name as part of the ID.
              type: string
              deprecated: true
              readOnly: true
              maxLength: 50
              example: system-a-00000000-0000-0000-0000-000000000000
            created:
              type: string
              deprecated: true
              format: date-time
              description: The ISO 8601 zoned date time when this record was created.
              example: '2023-12-01T13:00:00Z'
              readOnly: true
            createdBy:
              type: string
              deprecated: true
              description: The identifier of the user that created this record.
              readOnly: true
              example: hporter
            lastModified:
              type: string
              deprecated: true
              format: date-time
              description: The ISO 8601 zoned date time when this record was updated.
              example: '2023-12-21T14:00:00Z'
              readOnly: true
            lastModifiedBy:
              type: string
              deprecated: true
              description: The identifier of the user that last updated this record.
              readOnly: true
              example: hporter
        custom-field:
          title: CustomField
          description: A Custom Field
          required:
            - id
            - value
          type: object
          properties:
            id:
              type: string
              description: The unique ID representing this custom field.
              format: uuid
            name:
              type: string
              description: The actual text of the custom field.
              example: What is a your favorite color?
              readOnly: true
            type:
              description: The type of data collected by a custom field.
              type: string
              allOf:
                - title: CustomFieldType
                  enum:
                    - AutoIncrement
                    - ConsentQuestion
                    - Currency
                    - Decimal
                    - Date
                    - DateTime
                    - Email
                    - FileUpload
                    - FreeText
                    - General
                    - MultiChoice
                    - MultiSelect
                    - Number
                    - OpenEndedDateTime
                    - OpenEndedText
                    - SingleChoice
                    - SingleSelect
                    - USPhoneNumber
                    - Unknown
                  type: string
                  description: The type of data collected by a custom field.
                  example: General
                - readOnly: true
                  example: MultiSelect
            value:
              type: array
              uniqueItems: true
              items:
                type: string
                description: A question answer value
              description: The set of answers or possible answers to a question.
              example:
                - Choice C
                - Choice A
            order:
              type: integer
              description: The order of this question in the bigger list of questions.
              example: 1
              readOnly: true
        event-type.json1:
          title: EventType
          enum:
            - Celebration
            - Conference
            - CventEssentials
            - CventWebinar
            - Dinner
            - Forum
            - FundraiserBenefit
            - Holiday
            - IncentiveTrip
            - Meeting
            - OtherGeneral
            - PoliticalEvent
            - Reunion
            - SaveTheDate
            - Seminar
            - SimpleEvent
            - SportsEvent
            - TradeShow
            - TrainingSession
            - Webinar
          type: string
          description: >-
            Type of event being created. The following event types are not
            supported: Cvent Webinar, Cvent Essentials.
          example: Conference
        event-links.json:
          title: EventLinks
          description: Represents the links associated with an event.
          type: object
          readOnly: true
          properties:
            invitation:
              $ref: '#/components/schemas/link.json'
            agenda:
              $ref: '#/components/schemas/link.json'
            summary:
              $ref: '#/components/schemas/link.json'
            registration:
              $ref: '#/components/schemas/link.json'
          example:
            invitation:
              href: https://cvent.com
            agenda:
              href: https://cvent.com
            summary:
              href: https://cvent.com
            registration:
              href: https://cvent.com
        uuid-property:
          type: string
          format: uuid
          description: A universally unique identifier.
          example: d97d28b6-cf35-4d6c-90eb-bb10fef1d1ce
        error-response:
          title: ErrorResponse
          description: Standard error response object.
          type: object
          properties:
            code:
              type: integer
              description: The HTTP status code.
              example: 400
            message:
              type: string
              description: A brief description of the error.
              example: Bad Request
            details:
              type: string
              description: Additional details about the error.
              example: The request could not be understood by the server.
      parameters:
        after:
          name: after
          required: false
          description: >-
            Used to query records that have been added or updated after this time
            point. Default to the beginning of time of the data store.
          in: query
          schema:
            type: string
            format: date-time
            example: '2017-01-02T02:00:00Z'
        before:
          name: before
          required: false
          in: query
          description: >-
            Used to query records that have been added or updated before this time
            point.
          schema:
            type: string
            format: date-time
            example: '2017-01-02T02:00:00Z'
        limit:
          name: limit
          in: query
          description: The maximum number of records to return per page.
          style: form
          explode: true
          schema:
            maximum: 200
            minimum: 1
            type: integer
            default: 100
            example: 100
        token:
          name: token
          in: query
          description: >
            The continuation token returned from a previous class. This must be a
            valid UUID v4 if provided.

            This will override any other pageable parameters provided.
          style: form
          explode: true
          schema:
            type: string
            example: 0e28af57-511f-47ab-ae46-46cd1ca51a1a
        eventSort:
          name: sort
          required: false
          in: query
          style: form
          explode: false
          description: |
            The sort order passed as a parameter, used to control the order of the
            search results as a priority ordered list of sorts

            There are two orders:
              * ascending: ASC
              * descending: DESC

            The following fields are sortable:
              * start
          schema:
            type: string
            example: start:DESC
      responses:
        EventListSuccess:
          description: Successfully retrieved a paginated list of events.
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event-paginated-response'
              examples:
                success:
                  $ref: '#/components/examples/EventListSuccessExample'
                empty:
                  $ref: '#/components/examples/EventListEmptyExample'
        BadRequest:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
              examples:
                badRequest:
                  $ref: '#/components/examples/BadRequestExample'
                invalidFilter:
                  $ref: '#/components/examples/BadRequestInvalidFilterExample'
        Unauthorized:
          description: Bad or expired token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
              examples:
                unauthorized:
                  $ref: '#/components/examples/UnauthorizedExample'
        Forbidden:
          description: You do not have access to the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
              examples:
                forbidden:
                  $ref: '#/components/examples/ForbiddenExample'
        TooManyRequests:
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error-response'
              examples:
                tooManyRequests:
                  $ref: '#/components/examples/TooManyRequestsExample'
      securitySchemes:
        OAuth2.authorizationCode:
          type: oauth2
          description: OAuth2 Authorization Code Flow
          flows:
            authorizationCode:
              authorizationUrl: https://api-platform.cvent.com/ea/oauth2/authorize
              tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
              scopes:
                event/events:read: Allows the reading of events
                event/events:write: Allows the creation/updating of events
        OAuth2.clientCredentials:
          type: oauth2
          description: OAuth2 Client Credentials Flow
          flows:
            clientCredentials:
              tokenUrl: https://api-platform.cvent.com/ea/oauth2/token
              scopes:
                event/events:read: Allows the reading of events
                event/events:write: Allows the creation/updating of events
        CallbackApiKeyAuth:
          type: apiKey
          in: header
          name: Authorization
          description: >-
            This security scheme is used to indicate that Cvent should use API Key
            auth when invoking your callback. This scheme is only supported for
            callback operations, and cannot be used to make calls to Cvent
            endpoints.
        CallbackBasicAuth:
          type: http
          scheme: basic
          description: >-
            This security scheme is used to indicate that Cvent should use basic
            auth when invoking your callback. This scheme is only supported for
            callback operations, and cannot be used to make calls to Cvent
            endpoints.
